page-feedback-form {
    .button{
        height: 50px;
        width: 100%;
        border-radius: 5px;
        color:white;
        background-color: rgb(96, 156, 5);
        font-family: roboto;
    }
}
