

<ion-header>

	<ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl"></ion-searchbar>
	<ion-list *ngIf="searchTerm != ''">
		<ion-item *ngFor="let searchItem of searchItems" (click)="viewItem(searchItem.listingId)">
			{{searchItem.listingTitle}}
		</ion-item>
	</ion-list>
</ion-header>

<ion-content>

	<div class="slide-banner">
		<ion-slides pager class="banner-slides" autoplay="3000" loop="true" speed="3000">
			<ion-slide style="background-image: url('assets/imgs/advert1.jpg'); background-position: center center;background-size: cover;"></ion-slide>
			<ion-slide style="background-image: url('assets/imgs/advert2.jpg'); background-position: center center;background-size: cover;"></ion-slide>
		</ion-slides>
	</div>

	<h3 text-center>FRESH LISTINGS </h3>
	<div *ngIf="errorMessage" class="errorText">
		{{errorMessage}}
	</div>
	<ion-grid [virtualScroll]="listings" approxItemHeight="300px">
		<ion-row>
			<ion-col *virtualItem="let listing; let i = index" col-6 (click)="viewItem(listing.listingId)">
				<div class="item-container"> 
					<div *ngIf="listing.images[0] == './images/noimage.png'">
						<img src="assets/imgs/noimage.png" style="width:180px; height:180px">
					</div>
					<div *ngIf="listing.images[0] != './images/noimage.png'">
						<img src="{{listing.images[0]}}" style="width:180px; height:180px">
					</div>
					<div class="name" text-left>{{listing.listingTitle}}</div>
					<div class="name" text-left>${{listing.costPerDay}}</div>
					<div class="name" text-left>{{listing.listingDescription}}</div>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>


</ion-content>