<ion-header>

</ion-header>

<ion-content>
  <button ion-button icon-only class="returnButton" clear="true" (click)="popView()">
    <ion-icon name="arrow-back"></ion-icon><ion-label>Profile</ion-label>
  </button>
  <div class="profile" style="padding:7px">
    <div class="profile-img" *ngIf="customerProfile != null && customerProfile.profileImage == './images/defaultprofilepic.png'">
      <img style="border-radius: 50%;" src="assets/imgs/noimage.png">
    </div>
    <div class="profile-img" *ngIf="customerProfile != null && customerProfile.profileImage != './images/defaultprofilepic.png'">
      <img style="border-radius: 50%;" src="{{customerProfile.profileImage}}">
    </div>
    <div class="profile-information">
      <ion-list *ngIf="customerProfile != null">
        <ion-item no-lines>
          <ion-label fixed> {{customerProfile.firstName}} {{customerProfile.lastName}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div class="personal-listings">
    <!-- <div class="searchbar">
      <ion-input placeholder="search personal listings"></ion-input>
    </div> -->

    <ion-grid *ngIf="listings!= null">
      <ion-row>
        <ion-col>
          <p style="text-align: center">Personal listings</p>
        </ion-col>
        <ion-col *ngFor="let listing of listings" col-6 (click)="viewListingDetails($event,listing)">
          <div>
            <div *ngIf="listing.images[0] == './images/noimage.png'">
              <img src="assets/imgs/noimage.png" style="width:180px; height:180px">
            </div>
            <div *ngIf="listing.images[0] != './images/noimage.png'">
              <img src="{{listing.images[0]}}" style="width:180px; height:180px">
            </div>
            <div class="name" text-left>{{listing.listingTitle}}</div>
            <div class="name" text-left>${{listing.costPerDay}}</div>
            <div class="name" text-left>{{listing.listingDescription}}</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>