page-settings {
    ion-content{
        height: 100%;
        background-color: lightgrey;
    }

    .content{
        height:100%;
        width: 100%;
        background-color: #e6e6e6;
    }

    label{
        font-size:13px;
    }

}
