<!--
  Generated template for the ViewRequestDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="theme">
    <div *ngIf="request != null">
      <ion-title>Request: {{request.listingTitle}}</ion-title>
    </div>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div *ngIf="request != null">
    <ion-list>
      <ion-item>
        <p>Listing Description: {{request.listingEntity.listingTitle}}</p>
        <p>Acknowledged status: {{request.acknowledged}}</p>
        <p>Accepted status: {{request.accepted}}</p>
        <p>Payment status: {{request.payment}}</p>
        <p>Short message: {{request.message}}</p>
      </ion-item>
    </ion-list>
  </div>
  <!-- display accept button only if status is true -->
  <div *ngIf="checkCustId != custId && isAcknowledged == false">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button (click)="acceptRequest()" style="width:100%" ion-button>Accept</button>
        </ion-col>
        <ion-col col-6>
          <button (click)="rejectRequest()" style="width:100%" ion-button>Reject</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <p stlye="text-align:center; margin: 0 auto;">Please note that accepting this request automatically rejects all other requests which falls in the same time period</p>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="checkCustId == custId && isAccepted == true && isPayment != true">
    <button (click)="makePayment()" ion-button block>Make Payment!</button>
    <p style="color:green">Your request has been accepted</p>
  </div>
  <div *ngIf="checkCustId == custId && isAccepted == true && isPayment == true">
    <p style="color:green; text-align: center">You have paid for youe service!</p>
  </div>
  <div *ngIf="isAccepted == false && checkCustId == custId && isAcknowledged == false">
    <button (click)="deleteRequest()" ion-button block>Delete request</button>
    <p style="color:blue; text-align: center">Lender has not yet acknowledged your request*</p>
  </div>
  <div *ngIf="isAccepted == false && checkCustId == custId && isAcknowledged == true">
    <button (click)="deleteRequest()" ion-button block>Delete request</button>
    <p style="color:red; text-align: center">Lender has rejected your request*</p>
  </div>
</ion-content>